@{
	ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<p>If you have any questions, feedback, or inquiries about "The Tree App," please feel free to get in touch with me. I value your input and am here to assist you.</p>

<address>
	You can reach me on GitHub:
	<br>
	GitHub Profile: <a href="https://github.com/ZeKublai" target="_blank">github.com/ZeKublai</a>
</address>

<p>I appreciate your interest in my application, and if you encounter any issues or would like to contribute to my open-source project, you can find the source code on GitHub:</p>
<p><a href="https://github.com/ZeKublai/TheTreeApp/" target="_blank">GitHub Repository</a></p>
<p>I look forward to hearing from you and thank you for using "The Tree App"!</p>
